env/
.env
__pycache__/
files/
chromedriver/
.streamlit/
study_ipynbs/
user_score_result/
pages/
sunung_total_score2022_origin.py
assistant_api_basecode.py
openai_api.py
assistant_creator.py
streamlit_chatbot_test.py
assistant_for.py
ect_test.py
as_home.py